
# Trabalho 1

Para esse trabalho foi solicitado que o grupo faça uma análise dos dados referentes ao alunos da UFV. Para isso o grupo formulou 10 perguntas para ajudar a guiar na análise e entendimento dos dados.

In [5]:
# biblioteca para ler os arquivos .ods
!pip install pandas_ods_reader
import pandas as pd
from pandas_ods_reader import read_ods

# monta o drive onde esta salvo o arquivo que vai ser lido
from google.colab import drive
drive.mount('/content/drive')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas_ods_reader in /usr/local/lib/python3.9/dist-packages (0.1.4)
Requirement already satisfied: lxml<5.0.0,>=4.6.3 in /usr/local/lib/python3.9/dist-packages (from pandas_ods_reader) (4.9.2)
Requirement already satisfied: ezodf<0.4.0,>=0.3.2 in /usr/local/lib/python3.9/dist-packages (from pandas_ods_reader) (0.3.2)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from pandas_ods_reader) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas<2.0.0,>=1.0.0->pandas_ods_reader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas<2.0.0,>=1.0.0->pandas_ods_reader) (2022.7.1)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas<2.0.0,>=1.0.0->pandas_ods_reader) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->pandas_ods_reader) (1.16.0)
Mounted at /content/drive

## Os dados

Nessa primeira parte vamos fazer uma pequena análise inicial dos dados, descobrindo quais os dados que estão presentes e o que pode ser útil para nós.

In [6]:
# cria o dataframe com os dados do arquivo
df = read_ods('/content/drive/MyDrive/CCF425/Dados de estudantes da UFV - 2022-12-12.ods', 1)

print('Informações gerais do dataframe:')
df

Informações gerais do dataframe:

,Identificador,Ano_Nascimento,Sexo,Campus,Curso_Identificador,Curso,UF_Nascimento,Municipio_Nascimento,Admissao,Saida,Codigo_Situacao_Aluno,Situacao_Aluno,Situacao_Aluno_Agrupada,Modalidade_Inscrita,ENEM,Num_Reprovacoes,Raca,CRA
0,29271.0,1982.0,M,CAV,1101.0,CAV - Administração,RJ,VOLTA REDONDA,2000/1,2000/1,A,Abandono ...,Evasão,0.0,NaN,0.0,Informação não disponível,0.0
1,29272.0,1982.0,M,CAV,1101.0,CAV - Administração,DF,Brasília,2000/1,2002/1,A,Abandono ...,Evasão,0.0,NaN,3.0,Informação não disponível,71.2
2,34462.0,1979.0,F,CAV,1101.0,CAV - Administração,MG,Viçosa,2000/1,2005/1,C,Conclusão ...,Conclusão,0.0,NaN,3.0,Informação não disponível,78.5
3,34468.0,1979.0,F,CAV,1101.0,CAV - Administração,MG,Belo Horizonte,2000/1,2006/1,C,Conclusão ...,Conclusão,0.0,NaN,20.0,Pardo(a),56.0
4,34470.0,1980.0,F,CAV,1101.0,CAV - Administração,SP,São Paulo,2000/1,2004/2,C,Conclusão ...,Conclusão,0.0,NaN,1.0,Informação não disponível,76.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74021,172112.0,1996.0,None,CAV,1153.0,CAV - Bacharelado em Educação Física,None,None,2023/1,0.0,N,Normal ...,Matriculado,0.0,NaN,0.0,Informação não disponível,0.0
74022,172110.0,1995.0,None,CAV,1153.0,CAV - Bacharelado em Educação Física,None,None,2023/1,0.0,N,Normal ...,Matriculado,0.0,NaN,0.0,Informação não disponível,NaN
74023,172113.0,1996.0,None,CAV,1153.0,CAV - Bacharelado em Educação Física,None,None,2023/1,0.0,N,Normal ...,Matriculado,0.0,NaN,0.0,Informação não disponível,NaN
74024,172114.0,1998.0,None,CAV,1153.0,CAV - Bacharelado em Educação Física,None,None,2023/1,0.0,N,Normal ...,Matriculado,0.0,NaN,0.0,Informação não disponível,NaN
74025,172082.0,2000.0,None,CAV,1153.0,CAV - Bacharelado em Educação Física,None,None,2023/1,0.0,N,Normal ...,Matriculado,0.0,NaN,0.0,Informação não disponível,0.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74026 entries, 0 to 74025
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Identificador            74026 non-null  float64
 1   Ano_Nascimento           73949 non-null  float64
 2   Sexo                     73986 non-null  object
 3   Campus                   74026 non-null  object
 4   Curso_Identificador      74026 non-null  float64
 5   Curso                    74026 non-null  object
 6   UF_Nascimento            73971 non-null  object
 7   Municipio_Nascimento     73990 non-null  object
 8   Admissao                 74026 non-null  object
 9   Saida                    74026 non-null  object
 10  Codigo_Situacao_Aluno    74026 non-null  object
 11  Situacao_Aluno           74026 non-null  object
 12  Situacao_Aluno_Agrupada  74026 non-null  object
 13  Modalidade_Inscrita      68753 non-null  float64
 14  ENEM                     39183 non-null  float64
 15  Num_Reprovacoes          74026 non-null  float64
 16  Raca                     74026 non-null  object
 17  CRA                      74016 non-null  float64
dtypes: float64(7), object(11)
memory usage: 10.2+ MB